@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: 'Signika Negative', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: gray;
  background: url("../src/Images/uibackground.jpg") center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}


.header {
  background: linear-gradient(-45deg, #85bfef, #7e2f22, #3f3a26, #dadfe5);
  background-size: 800% 800%;
  animation: gradient 10s ease infinite;
  text-align: center;
  left: 0;
  top: 0;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.85;
  line-height: 1.5 !important;
  font-weight: 600;
  margin-top: 16vh;
  margin-bottom: unset;
}

@keyframes gradient {
  0% {
    background-position: 0% 70%
  }

  50% {
    background-position: 100% 30%
  }

  100% {
    background-position: 0% 70%
  }
}

.add-close {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.19);
  color: #534e3b;
  border: none;
  width: 32px;
  height: 32px;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  border-radius: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}

.add-close:hover {
  background: rgba(255, 255, 255, 0.34);
}

.button {
  text-align: right;
  margin-bottom: 5px !important;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.modal-container {
  width: 320px;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 30px 30px 70px;
  color: #fff;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);

}

.modal-button {
  align-self: flex-end;
  border: none;
}

.goal-actions svg {
  fill: #2e3218d9;
  transform: scale(1.4);
}

.goal-actions svg:hover {
  transform: scale(1.8);
}

input,
label,
select {
  display: block !important;
  left: auto;
  outline: none;
  margin-top: 15px;
  max-height: 200px;
  border-radius: 20px;
}

input,
select {
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

label {
  text-align: start;
}

select {
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  color: white;
  outline: none;
  font-family: 'Signika Negative', sans-serif;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(255, 255, 255, 0.14) 0px 30px 60px -12px inset;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: none;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}


.cancel {
  background: rgb(224 23 23 / 10%) !important;
}

option {
  background: transparent;
  backdrop-filter: blur(5px);
  color: black;
}

.modal-wrapper input {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #6f715e;
}

.action-buttons {
  display: block;
  margin-top: 14%;
  padding: 5px;
}

.action-buttons button {
  display: inline-block;
  border: 0;
  text-decoration: none;
  margin: 0px 10px;
  padding: 13px 12px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.action-buttons button:hover{
  filter: brightness(85%);
}

#list-container {
  background: rgba(102, 97, 97, 0.17);
  padding: 13px;
  backdrop-filter: blur(4px);
  border-radius: 20px;
}

.goal-row {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.19);
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 7px;
}

.goal-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.7em;
}

.goal-actions svg:hover {
  cursor: pointer;
}

.goal-content {
  width: 100%;
  color: #373123;;
  font-weight: bold;
}


.goal-content small {
  float: right;
  font-style: italic !important;
  color: #252218ba;
}

.goal-striked .goal-content {
  text-decoration: line-through;
  font-style: italic;
  color: rgb(68, 68, 68);
}

.hidden {display: none;}

.no-goal-text {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

img {
  height: 100px;
}

h1 {
  color: #6c7ac9;
}

ul[role=navigation] {
  margin-top: 2%;
  width: 100%;
  display: flex;
  height: auto;
  list-style: none;
  cursor: pointer;
  border-radius: 20px;
  background: rgba(102, 97, 97, 0.5);
}

ul[role=navigation] li {
  width: 100%;
  margin: 0px 8px;
  border-radius: 5px;
  color: #fff;
  background: rgba(255, 255, 255, 0.23);
  text-align: center;
}

ul[role=navigation] a {
  font-weight: bold;
}

ul[role=navigation] a {
  color: #fff;
  background: transparent;
}

.selected a {
  color: #fff;
}

ul[role=navigation] disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}


@media only screen and (max-width: 600px) {
  .header {
    font-size: 30px;
  }
  .goal-row {
    font-size: smaller;
    max-height: 55px;
    
  }

  .goal-actions svg {
    transform: scale(1.3);
  }
}